{% extends "layout.html" %}


{% block title %}
    Sell Stocks
{% endblock %}


{% block main %}
    <form action="/sell" method="post">
        <select id="symbol" name="symbol">
            <option value="" disabled selected>Symbol</option>
            {% for row in rows %}
                <option value="{{ row['stock'] }}">{{ row['stock'] }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="text" name="shares" placeholder="Shares" autocomplete="off">
        <br><br>
        <button type="submit">Sell</button>
    </form>
{% endblock %}
